 
 body{
  font-family: sans-serif;
  padding: 20px;
 }


button {
  width: 60px;
  height: 30px;
  margin: 1px;
  cursor: pointer;
}

#physical-buttons,
#mental-buttons,
#sleep-buttons {
 display: flex;   
 gap: 10px;
}

.selected {
  background-color: lightblue;
}

textarea {
  width: 450px;
  height: 25px;
}

.free-input { display: none; margin-top: 8px; }
.free-input.visible { display: block; }

.input-h{
  border: 2px solid rgb(62, 67, 70);
  border-radius: 10px;
  background-color: lightpink;
  display: inline-block;
  padding: 4px 12px;
  margin-top: 10px;
}

.input-p{
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid #696969;
  margin: 20px;
}

.section-title{
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid #696969;
  margin: 3px;
}

.input-label{
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-l{
  font-size: 20px;
}

.input-save{
  width: auto;   
  height: auto;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  padding: 0.4em 1em;
  font-size: inherit;
  border: 1px solid black;
  border-radius: 4px;
  background: lightskyblue; 
  cursor: pointer;
  writing-mode: horizontal-tb;
}

#symptom-select {
  height: auto;
  padding: 2px 2px;
  margin-left: 10px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  vertical-align: middle;
  cursor: pointer;
}

.circle-btn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  margin: 5px;
  font-size: 25px;
  cursor: pointer;
  transition: 0.2s;
}

.bad{
  background-color: red;
}

.poor{
  background-color: orange;
}

.normal{
  background-color: yellow;
}

.good{
  background-color: lawngreen;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.selected{
  border: 3px solid black;
  transform: scale(1.1);
}

.input-login{
   width: 80%;
    max-width: 300px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    border: 2px solid #666;
    border-radius: 8px;
    margin-top: 20px;
}